compartment_ocid         = 
user_ocid                = 
tenancy_ocid             = 
fingerprint              = 
private_key_path         = 
private_key_password     = 
region                   =
ssh_public_key_path      =
database_admin_password  =