<?xml version="1.0" encoding="UTF-8"?>
<server description="Futbolín Web App server">
    <featureManager>
        <feature>beanValidation-2.0</feature>
        <feature>cdi-2.0</feature>
        <feature>jaxrs-2.1</feature>
        <feature>jsp-2.3</feature>

        <feature>appSecurity-3.0</feature>
        <feature>socialLogin-1.0</feature>
    </featureManager>

    <variable name="application.name" defaultValue="futbolin" />

    <variable name="default.http.port" defaultValue="9080" />
    <variable name="default.https.port" defaultValue="9443" />

    <variable name="oidc.client.id" />        <!-- override using environment variable OIDC_CLIENT_ID         -->
    <variable name="oidc.client.secret" />    <!-- override using environment variable OIDC_CLIENT_SECRET     -->
                                              <!-- encode the secret with WLP_HOME/bin/securityUtility encode -->

    <!--
    Reverse Proxy host and port; see
    https://www.ibm.com/support/knowledgecenter/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/twlp_config_oidc_rp.html
    -->
    <variable name="oidc.rpHostAndPort" defaultValue="https://localhost:9443" />

    <!-- Enable detailed logging for security features. -->
    <!--
    <logging traceSpecification="com.ibm.ws.security*=all=enabled"               maxFiles="8" maxFileSize="200" />
    <logging traceSpecification="com.ibm.ws.security.social*=all=enabled"        maxFiles="8" maxFileSize="200" />
    <logging traceSpecification="com.ibm.ws.security.openidconnect*=all=enabled" maxFiles="8" maxFileSize="200" />
    -->

    <googleLogin clientId="${oidc.client.id}"
                 clientSecret="${oidc.client.secret}"
                 scope="openid email"
                 redirectToRPHostAndPort="${oidc.rpHostAndPort}"
                 useSystemPropertiesForHttpClientConnections="true">
        <authFilterRef name="authFilter-1" />
    </googleLogin>

    <authFilter>
        <webApp matchType="equals" name="${application.name}" />
    </authFilter>

    <webApplication location="${application.name}-webapp.war" name="${application.name}" contextRoot="/">
        <application-bnd>
            <security-role name="user">
                <special-subject type="ALL_AUTHENTICATED_USERS" />
            </security-role>
        </application-bnd>
    </webApplication>

    <httpEndpoint host="*"
                  httpPort="${default.http.port}"
                  httpsPort="${default.https.port}"
                  id="defaultHttpEndpoint" />

    <applicationMonitor dropinsEnabled="false" />
</server>